/* Estilo para os cards */
.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card h3 {
  margin-top: 0;
}

.card p {
  margin-bottom: 0;
}

/* Estilo para a barra de navegação */
header{
  display: flex;
  justify-content:  space-between;
  padding:8px 0;
}

header h1{
  color: #065f46;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: #065f46;
  font-size: 18px;
  font-weight: 5
}

nav ul:nth-child(1){
  margin-right: 30px;
}

#cadastro{
  background-color: #065f46;
  color: white;
  padding: .9rem 1.7rem;
  border-radius: 1.1rem;
  
}

#cadastro:hover{
  background-color: #047857;
}


.container {
  max-width: 1200px; /* Define a largura máxima do container */
  margin: 0 auto;
}

.content-left {
position: relative;
width: 100%;
}

.content-right {
position: relative;
width: 30%;
background-color: white; /* Assuming primary is a color variable */
background-size: cover;width: 100%;

background-position: center;
}

.title {
font-size: 1.25rem; /* Equivalent to 20px assuming default font size is 16px */
color: #047857;
font-family: 'Montserrat', sans-serif; /* Assuming Montserrat is imported */
}

.main-heading {
margin-top: 2.5rem; /* Equivalent to 40px */
font-family: 'Palanquin', sans-serif; /* Assuming Palanquin is imported */
font-size: 6rem; /* Equivalent to 96px */
font-weight: bold;
}

.highlight {
color: #047857;
display: inline-block;
margin-top: 0.75rem; /* Equivalent to 12px */
}

.button{
  background-color: #047857;
  color: white;
  padding: 1.3rem 4rem;
  border-radius: .9rem;
  border: none;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

.button:hover{
  background-color: #065f46;
}


/* Estilo para a tabela de doadores */
.container {
  margin: 20px auto;
  max-width: 800px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Estilo para o formulário de edição */
#form-edicao {
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

#form-edicao label {
  display: block;
  margin-bottom: 10px;
}

#form-edicao input[type="text"],
#form-edicao input[type="number"] {
  width: calc(100% - 16px); /* leva em consideração o padding */
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#form-edicao button {
  padding: 8px 20px;
  background-color: #00532c; /* Verde escuro */
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
